@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

:root {
    --primary-color: #3547e4;
    --green-color: #2ECC71;
    --light-gray: #F2F3F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

.nav-logo img {
    width: 10rem;
    height: 10rem;
}

.nav-link {
    padding: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.nav-items {
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    transition: all 0.2s;
}

.nav-items:hover{
    color: var(--primary-color);
    transform: scale(1.2);
}

.user-profile {
    padding: 1.2rem;
}

.user-profile a{
    color: black;
}

.profile-icon:hover {
    transform: scale(1.2);
    color: var(--primary-color);
}

.menu-bar {
    display: none;
}

.main {
    width: 100%;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    width: 100%;
    position: relative;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.home-text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.4rem;
}

.home-text p {
    width: 90%;
    align-self: center;
    font-size: 1rem;
    margin-bottom: 1.4rem;
}

.home-text a {
    width: 50%;
    padding: 0.5rem;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
    font-weight: 800;
    transition: all 0.2s;
}

.home-text a:hover {
    background-color: var(--light-gray);
    color: black;
}

.home-img {
    width: 75%;
    padding: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

.home-img img {
    width: 100%;
    height: 100%;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 35px;
    padding: 0.5rem 3rem;
    box-shadow: 0px 0px 15px black;
}

.social h3 {
    font-size: 1rem;
    font-weight: bold;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.social-icons {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.social-icons:hover {
    color: var(--primary-color);
}

.courses {
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-main {
    margin: 2rem auto;
}

.course-type {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.course-card {
    width: 80%;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 15px;
    place-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.3rem;
    box-shadow: 0px 0px 10px black;
}

.course-icon {
    font-size: 2rem;
}

.course-desc {
    width: 80%;
    font-size: 0.8rem;
}

.course-extra {
    margin: 0.5rem 1rem;
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.course-head {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.course-price {
    padding: 0.2rem 0.4rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    transition: all 0.2s linear;
}

.course-price:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.testimonials {
    width: 100%;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.testimonial-head {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.testimonial-head p {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.cards {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.test-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
}

.test-pic {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color: var(--light-gray);
}

.test-content {
    font-style: italic;
    font-size: 0.9rem;
}

.test-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.test-name {
    color: blue;
    font-weight: 800;
}

.test-position {
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 600;
}

.contact {
    width: 100%;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.newsletter {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.newsletter h3 {
    font-size: 1.1rem;
    font-weight: bold;
}

.newsletter p {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.add-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.add-email input {
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.3rem;
}

.add-email button {
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--green-color);
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}

.contact-icons {
    margin: 0.5rem auto;
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.contact-icons a {
    font-size: 1.1rem;
    color: black;
    transition: all 0.2s linear;
}

.contact-icons a i:hover{
    color: var(--primary-color);
}

fieldset {
    padding: 1.5rem 2rem;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

fieldset input {
    padding: 0.2rem;
    border: 2px solid black;
    border-radius: 5px;
}

.feedback-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feedback-text textarea {
    padding: 0.5rem;
    border: 2px solid black;
}

.footer {
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    padding: 2rem;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.footer-company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company img {
    width: 8rem;
    height: 8rem;
}

.footer-list {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.footer-items h4 {
    font-size: 1.1rem;
}

.footer-items a {
    font-size: 0.85rem;
    color: black;
}

.footer-items a:hover {
    color: var(--primary-color);
    font-weight: bold;
}

.footer-rights {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width:768px) {
    .nav-link {
        display: none;
    }

    .user-profile {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .home {
        padding: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .home-text {
        width: 70%;
        border: 2px solid black;
        border-radius: 25px;
        padding: 1rem;
    }

    .course-type {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }

    .cards {
        width: 70%;
        padding: 2rem 1rem;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
    }

    .contact-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

@media screen and (max-width:480px) {
    .home {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .home-text {
        width: 100%;
        border: 2px solid black;
        border-radius: 25px;
        padding: 1rem;
    }

    .home-img img {
        display: none;
    }

    .course-type {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
    }
}