<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeit.</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="#">
                <div class="nav-brand">
                    <div class="nav-logo">
                        <img src="../assets/logo.jpg" class="logo" alt="Company-Logo">
                    </div>
                </div>
            </a>
            <div class="nav-link">
                <a href="#" class="nav-items">Home</a>
                <a href="#" class="nav-items">About</a>
                <a href="#" class="nav-items">Courses</a>
                <a href="#" class="nav-items">Blog</a>
                <a href="#" class="nav-items">Contact</a>
            </div>
            <div class="user-profile">
                <a href="#">
                    <div class="profile-icon">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </a>
            </div>
            <div class="menu-bar">
                <button><i class="fa-solid fa-bars"></i></button>
            </div>
        </div>
        <div class="main">
            <div class="home">
                <div class="home-text">
                    <h2>
                        Welcome To codeit.!
                    </h2>
                    <p>
                        Achieve Your Goals with Expert-Led Courses and Tailored Learning.
                    </p>
                    <a href="#" class="explore">
                        Let's Explore!
                    </a>
                </div>
                <div class="home-img">
                    <img src="../assets/home-img.jpg" alt="Home-Image">
                </div>
            </div>
            <div class="social">
                <h3>Follow Us</h3>
                <div class="icons">
                    <a href="#" class="social-icons"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="social-icons"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="social-icons"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#" class="social-icons"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="courses">
                <div class="course-main">
                    <h2>Courses</h2>
                </div>
                <div class="course-type">
                    <div class="course-card">
                        <div class="course-icon">
                            <i class="fa-brands fa-python"></i>
                        </div>
                        <div class="course-title">
                            <h3>Python Course: <br> Beginner To Pro</h3>
                        </div>
                        <div class="course-desc">
                            Learn foundational programming concepts, from variables and loops to functions and data structures.
                        </div>
                        <div class="course-extra">
                            <div>📅 Duration: 12 weeks</div>
                            <div>⏰ Time: 4-6 hours per week</div>
                            <div>📍 Format: Online, Self-paced</div>
                            <div class="course-price">💲Price: Rs. 2499/-</div>
                        </div>
                    </div>
                    <div class="course-card">
                        <div class="course-icon">
                            <i class="fa-solid fa-globe"></i>
                        </div>
                        <div class="course-title">
                            <h3>Mastering <br> Frontend Development</h3>
                        </div>
                        <div class="course-desc">
                            Dive deep into HTML, CSS, and JavaScript, and explore cutting-edge frameworks like React and Vue.
                        </div>
                        <div class="course-extra">
                            <div>📅 Duration: 8 weeks</div>
                            <div>⏰ Time: 3-5 hours per week</div>
                            <div>📍 Format: Online, Self-paced</div>
                            <div class="course-price">💲Price: Rs. 1499/-</div>
                        </div>
                    </div>
                    <div class="course-card">
                        <div class="course-icon">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="course-title">
                            <h3>Data Structures and <br> Algorithms Mastery</h3>
                        </div>
                        <div class="course-desc">
                            Boost your problem-solving skills with our comprehensive Data Structures and Algorithms course.
                        </div>
                        <div class="course-extra">
                            <div>📅 Duration: 8 weeks</div>
                            <div>⏰ Time: 3-5 hours per week</div>
                            <div>📍 Format: Online, Self-paced</div>
                            <div class="course-price">💲Price: Rs. 3499/-</div>
                        </div>
                    </div>
                    <div class="course-card">
                        <div class="course-icon">
                            <i class="fa-solid fa-robot"></i>
                        </div>
                        <div class="course-title">
                            <h3>Machine Learning <br> Fundamentals</h3>
                        </div>
                        <div class="course-desc">
                            Dive into the exciting Machine Learning course designed for beginners and intermediate learners.
                        </div>
                        <div class="course-extra">
                            <div>📅 Duration: 15 weeks</div>
                            <div>⏰ Time: 4-5 hours per week</div>
                            <div>📍 Format: Online, Self-paced</div>
                            <div class="course-price">💲Price: Rs. 4499/-</div>
                        </div>
                    </div>
                    <div class="course-card">
                        <div class="course-icon">
                            <i class="fa-solid fa-globe"></i>
                        </div>
                        <div class="course-title">
                            <h3>Build Like Pro: <br> Backend Development</h3>
                        </div>
                        <div class="course-desc">
                            Master backend development with server setup, databases, APIs, security, scalability, and DevOps basics.
                        </div>
                        <div class="course-extra">
                            <div>📅 Duration: 10 weeks</div>
                            <div>⏰ Time: 3-5 hours per week</div>
                            <div>📍 Format: Online, Self-paced</div>
                            <div class="course-price">💲Price: Rs. 1999/-</div>
                        </div>
                    </div>
                    <div class="course-card">
                        <div class="course-icon">
                            <i class="fa-solid fa-brain"></i>
                        </div>
                        <div class="course-title">
                            <h3>Artificial Intelligence <br> Bootcamp</h3>
                        </div>
                        <div class="course-desc">
                            Master AI with fundamentals, machine learning, NLP, computer vision, ethics, and model deployment.
                        </div>
                        <div class="course-extra">
                            <div>📅 Duration: 12 weeks</div>
                            <div>⏰ Time: 5-6 hours per week</div>
                            <div>📍 Format: Online, Self-paced</div>
                            <div class="course-price">💲Price: Rs. 3099/-</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials">
                <div class="testimonial-head">
                    <h2>Testimonials</h2>
                    <p>"Discover How codeit. Transformed Careers"</p>
                </div>
                <div class="cards">
                    <div class="test-card">
                        <div class="test-pic">
                            <i class="fa-solid fa-user-graduate"></i>
                        </div>
                        <div class="test-content">
                            "<b>codeit.</b> provided me with a solid foundation in programming and hands-on projects that were crucial for my career. Thanks to their structured courses and real-world applications, I landed a senior developer role. Highly recommended for tech enthusiasts!"
                        </div>
                        <div class="test-detail">
                            <div class="test-name">
                                Priya Sharma
                            </div>
                            <div class="test-position">
                                Software Developer
                            </div>
                        </div>
                    </div>
                    <div class="test-card">
                        <div class="test-pic">
                            <i class="fa-solid fa-user-graduate"></i>
                        </div>
                        <div class="test-content">
                            "The interactive projects and community support at <b>codeit.</b> enhanced my learning experience. The resources were comprehensive and up-to-date, which boosted my confidence and skills. A great choice for aspiring developers!""
                        </div>
                        <div class="test-detail">
                            <div class="test-name">
                                Meera Desai
                            </div>
                            <div class="test-position">
                                Front-End Developer
                            </div>
                        </div>
                    </div>
                    <div class="test-card">
                        <div class="test-pic">
                            <i class="fa-solid fa-user-graduate"></i>
                        </div>
                        <div class="test-content">
                            "<b>codeit.</b>'s well-designed courses and career support services were instrumental in advancing my career. The practical skills and job assistance provided made a significant impact. An excellent investment for professional development."
                        </div>
                        <div class="test-detail">
                            <div class="test-name">
                                Arjun Patel
                            </div>
                            <div class="test-position">
                                Full-Stack Developer
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact">
                <h2>Contact Us</h2>
                <div class="contact-main">
                    <div class="newsletter">
                        <h3>Newsletter</h3>
                        <p>Add e-mail for updates</p>
                        <div class="add-email">
                            <input type="email" placeholder="Enter e-mail: ">
                            <button class="send">
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                        <div class="contact-icons">
                            <div class="phone">
                                <a href="tel:"><i class="fa-solid fa-phone"></i></a>
                            </div>
                            <div class="mail">
                                <a href="mailto:"><i class="fa-solid fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="feedback-form">
                        <fieldset>
                            <legend>Feedback</legend>
                            <div class="feedback-name">
                                <label for="name">Name: </label>
                                <input type="text" id="name" placeholder="Enter name">
                            </div>
                            <div class="feedback-email">
                                <label for="email">Email: </label>
                                <input type="email" id="email" placeholder="Enter e-mail">
                            </div>
                            <div class="feedback-text">
                                <label for="text">Message: </label>
                                <textarea name="" id="text" cols="30" rows="10"></textarea>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-company">
                    <div class="company">
                        <img src="../assets/logo.jpg" alt="Logo">
                    </div>
                    <div class="drop-down">
                        <select name="Language" id="Lang">
                            <option value="English">English</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Telugu">Telugu</option>
                        </select>
                    </div>
                </div>
                <div class="footer-list">
                    <div class="footer-items">
                        <h4>Main</h4>
                        <a href="#" class="footer-links">Home</a>
                        <a href="#" class="footer-links">About</a>
                        <a href="#" class="footer-links">Courses</a>
                        <a href="#" class="footer-links">Pricing</a>
                    </div>
                    <div class="footer-items">
                        <h4>Features</h4>
                        <a href="#" class="footer-links">Tutorials</a>
                        <a href="#" class="footer-links">Challenges</a>
                        <a href="#" class="footer-links">Gamezone</a>
                    </div>
                    <div class="footer-items">
                        <h4>Support</h4>
                        <a href="#" class="footer-links">Privacy Policy</a>
                        <a href="#" class="footer-links">Terms of Service</a>
                        <a href="#" class="footer-links">Forums</a>
                        <a href="#" class="footer-links">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="footer-rights">
                &copy 2024 codeit. Pvt. Ltd. All rights reserved.
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>